:host{
  display: block;
  margin-top:1rem;
}
mat-expansion-panel{
  width: 600px;
  margin: auto;
}
mat-spinner{
  margin:auto;
}
mat-paginator{
  margin-top: 1rem;
}
.info-text{
  text-align: center;
}
.post-image{
  margin: auto;
  width: 70%;
}
.post-image img{
  width: 100%;
  margin: auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
